name: linux-builds

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-20.04]

    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v1
    - name: install qt
      run: |
        sudo apt-get update --fix-missing
        sudo apt-get install qt5-default
        sudo apt-get install qtbase5-private-dev
        sudo apt-get install qtdeclarative5-dev
    - name: qmake
      run: qmake
    - name: make
      run: make -j4
